<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='follow.css'>
</head>

<body>
    <div id="follow">
        <transition name="left" class="left">
            <div v-if="username">
                <h2>Willkommen</h2>
            </div>
        </transition>
        <transition name="right">
            <div v-if="username" class="right">
                <h1>{{ username }}</h1>
            </div>
        </transition>
    </div>
    <script src="./follow.js"></script>
</body>

</html>