html {
    cursor: none;
}

body {
    font-family: 'Inter';
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#follow > div {
    margin: 0;
    display: flex;
    height: 50vh;
}

h1, h2 {
    margin: 0;
    line-height: 1em;
}

h1 {
    font-weight: 800;
    font-size: 30vh;
    align-self: start;
}

h2 {
    font-weight: 600;
    font-size: 25vh;
    align-self: flex-end;
}

.left::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
}

.left.fade-enter-active, .left-leave-active {
    transition: width 400ms ease-in-out;
  }

.left-enter .left::after, .left-leave-to .left::after {
    width: 100vw;
}